{% extends 'layout.html' %}

{% block content %}
    <div class="login-container">
        <h2 align="center">เพิ่มนิยาย</h2>
        <form action="createNovel" method="post">
            {% csrf_token %}
            <ul class="list">
                <li><input type="text" name="name" placeholder="Novel Name"></li>
                <li><input type="text" name="desc" placeholder="Description"></li>
                <li><input type="submit" name="submit" value="Add"></li>
                {% if messages %}
                <div>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
            </ul>
        </form>
    </div>
{% endblock %}